/* header */
header ul {
  display: flex;
}
header ul li:last-child {
  margin-left: auto;
}
header a {
  color: #fff;
}
header #bar {
  display: none;
  padding: 9px 13px 7px 13px;
}
header #cog {
  padding: 10px 13px 6px 11px;
}
header #stop {
  padding: 10px 12px 6px 12px;
}

/* side */
#side {
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 180px;
  overflow-y: auto;
  background-color: #eee;
}
#feeds li a {
  padding: 8px 0px 7px 10px;
  font-size: 18px;
}
#feeds li a:hover,
#feeds li.selected a {
  color: #fff;
}
#feeds li a:hover {
  background-color: #999;
}
#feeds li.selected a {
  background-color: #666;
}

/* main */
#main {
  margin: 15px auto;
  max-width: 600px;
  padding-left: 190px;
  padding-right: 10px;
}
.ctrl {
  display: flex;
  justify-content: space-between;
}
.hidden {
  display: none;
}
.btn {
  border: 1px solid #ddd;
  background-color: #fff;
}
.prev {
  padding: 5px 14px 5px 13px;
}
.next {
  padding: 5px 13px 5px 14px;
}
#title {
  margin-top: 3px;
  font-size: 20px;
}
#feed {
  margin-top: 10px;
  margin-bottom: 10px;
}
#feed li {
  background-color: #fff;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
#feed li:first-child {
  border-top: 1px solid #ddd;
}
#feed li a {
  padding: 13px 15px;
}
#feed li a:visited {
  color: #825;
}
#feed li a:hover {
  text-decoration: underline;
}
#feed li a.disabled {
  cursor: default;
}
#feed li a.disabled:hover {
  text-decoration: none;
}

/* -> if (width < 768) show bar, hide side */
@media (max-width: 767px) {
  header #bar {
    display: block;
  }
  #main {
    padding-left: 10px;
    margin-bottom: 60px; /* for ios */
  }
  #side {
    display: none;
  }
  #side.active {
    display: block;
  }
}
